@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: #B89B80;
}

.box{
    position: absolute;
    display: flex;
    width: 80%;
    height: 80%;
    background: white;
    top: 55%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 10px;
}

.box img{
    position: absolute;
    top: 25%;
    left: 80%;
    transform: translate(-50% , -50%);
    width: auto;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
}

.box .all-texts .whatweoffer{
    padding: 35px 35px 35px 35px;
}

.box .all-texts .whatweoffer text{
    font-family: "DynaPuff", system-ui;
    font-weight: 900;
    font-size: 30px;
}

.box .all-texts .whatweoffer hr{
    border: none;
    background-color: black;
    height: 7px;
    width: 32%;
    border-radius: 10px;
    margin-bottom: 35px;
}

.box .all-texts .whatweoffer p{
    font-family: 'Poppins' , sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin-left: 10px;
    color: green;
}

.box .all-texts .rr{
    padding: 35px 35px 35px 35px;
}

.box .all-texts hr.r{
    border: none;
    background-color: black;
    height: 8px;
    border-radius: 20px;
    width: auto;
}

.box .all-texts .whoarewe{
    padding: 35px 35px 35px 35px;
}

.box .all-texts .whoarewe text{
    font-family: "DynaPuff", system-ui;
    font-weight: 900;
    font-size: 30px;
}

.box .all-texts .whoarewe hr{
    border: none;
    background-color: black;
    height: 7px;
    width: 32%;
    border-radius: 10px;
    margin-bottom: 35px;
}

.box .all-texts .whoarewe p{
    font-family: 'Poppins' , sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin-left: 10px;
    color: green;
}

.box .all-texts .Inanyproblem{
    padding: 35px 35px 35px 35px;
}

.box .all-texts .Inanyproblem text{
    font-family: "DynaPuff", system-ui;
    font-weight: 900;
    font-size: 30px;
}

.box .all-texts .Inanyproblem hr{
    border: none;
    background-color: black;
    height: 7px;
    width: 32%;
    border-radius: 10px;
    margin-bottom: 35px;
}

.box .all-texts .Inanyproblem p{
    font-family: 'Poppins' , sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin-left: 10px;
    color: green;
}

.to-contact-us{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 85%;
    left: 80%;
    transform: translate(-50% , -50%);
    justify-content: center;
}

.btn-us{
    border: none;
    background-color: black;
    color: white;
    text-shadow: 0px 0px 20px white;
    box-shadow: 0px 0px 20px black;
    padding: 15px 15px 15px 15px;
    font-family: "DynaPuff", system-ui;
    font-weight: 900;
    font-size: 20px;
    border-radius: 10px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.5s;
}

.btn-us:hover{
    text-shadow: 1px 1px 30px white;
    box-shadow: 0px 0px 40px black;
}

.btn-url{
    border: none;
    background-color: #25D366;
    box-shadow: 0px 0px 20px green;
    color: black;
    text-shadow: 0px 0px 20px black;
    padding: 15px 15px 15px 15px;
    font-family: "DynaPuff", system-ui;
    font-weight: 900;
    font-size: 20px;
    border-radius: 10px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.5s;
}

.btn-url:hover{
    color: white;
    text-shadow: 0px 0px 40px white;
    box-shadow: 0px 0px 40px #8beeaf;
}

@media (min-width: 300px) and (max-width: 599px){
    .box{
        height: 950px;
        position: absolute;
        top: 70%;
    }

    .to-contact-us{
        left: 50%;
        top: 91%;
    }

    .box .whatweoffer text,.box .whoarewe text,.box .Inanyproblem text{
        white-space: nowrap;
    }

    .box img{
        display: none;
    }

}

@media (min-width: 600px) and (max-width: 899px){
    .to-contact-us{
        left: 75%;
        top: 83.5%;
    }

    .box img{
        display: none;
    }
}

@media (min-width: 900px) and (max-width: 1050px){
    .box img{
        display: none;
    }
}